.code{
          padding: 10px;
          
}
.day{
          box-shadow: 0 0 0.4rem rgba(0,0,0,0.14);
          padding: 5px;
          font-size: 18px;
          margin-right: 20%;
          margin-left: 20%;
}
.day h2, h3{
          text-align: center;
          color: grey;
          font-weight: bolder;
          opacity: 1;
}
.intro{
          margin-top: 10px;
}
.intro a{
          color: rgb(2, 119, 252);
}

@media only screen and (max-width: 500px){
          .day{
                    box-shadow: 0 0 0.4rem rgba(0,0,0,0.14);
                    padding: 5px;
                    font-size: 18px;
                    margin-right: 0;
                    margin-left: 0;
          }
          
}